.cpu-collection {
    display: grid;
    grid-template-columns: 500px 1fr;
    margin: 30px 20px 20px 20px;
    gap: 20px;
}

/* Filter component style */

.filter-box {
    height: min-content;
    position: sticky;
    overflow-y: scroll;
    top: 20px;
}
.filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand-box, .generation-box, .core-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border: solid 1px #1AC6FF;
}

.option-box {
  overflow: hidden;
  padding: 5px;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  max-height: 0;
  opacity: 0;
}

.slide-fade-enter-to,
.slide-fade-leave-from {
  max-height: 200px; /* Adjust if your brand list is taller */
  opacity: 1;
}

/* Basic styling for the header */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1AC6FF;
  border-radius: 8px;
  padding: 5px;
}

.toggle-btn{
    background-color: inherit;
    border: none;
    padding: 5px;
}

.filter-tl {
    margin: 0px;
}