/* CPU Collection View */
.part-collection {
  display: grid;
  grid-template-columns: 500px 1fr;
  margin: 30px 20px 20px 20px;
  gap: 20px;
}

/* .collection-container {
  max-width: 1440px;
} */

.cpu-card, .server-card {
  border: 2px solid #007bff;
  border-radius: 8px;
  
}

.cpu-title, .server-title{
  text-decoration: none;
  font-size: 2rem;
  color: #007bff;
  font-weight: 700;
}

.cpu-title:hover, .server-title:hover {
  color: #1068a6;
  text-decoration: none;
}

.tag {
  background: rgba(128, 128, 128, 0.339);
  border-radius: 8px;
  align-self: center;
  padding: 5px;
  margin-bottom: 0px;
}

.solid-separation {
  border: 2px solid #007bff;
}

.btn-box-left, .btn-box-right {
  background: none;
  border: none;
}

.active svg:hover {
  stroke: #007bff;
}

.spec-tl {
  font-weight: 700;
}

.spec-info {
  color: rgb(128, 128, 128);
}


/* Filter component style */

.filter-box {
  height: 100vh;
  position: sticky;
  overflow-y: scroll;
  top: 20px;
  padding: 10px;
}

.filter-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reset{
  background-color: #007bff;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  padding: 5px;
  color: white;
}

.reset:hover {
  background-color: #007bffb6;
}

.filter-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-box, .generation-box, .core-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: solid 1px #007bff;
}

.option-box {
  overflow: hidden;
  padding: 5px;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  max-height: 0;
  opacity: 0;
}

.slide-fade-enter-to,
.slide-fade-leave-from {
  max-height: 200px; /* Adjust if your brand list is taller */
  opacity: 1;
}

/* Basic styling for the header */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  border-radius: 8px;
  padding: 5px;
}

.toggle-btn{
  background-color: inherit;
  border: none;
  padding: 5px;
  color: white;
}

.toggle-btn:hover {
  font-weight: 700;
}

.filter-tl {
  margin: 0px;
  color: white;
}

.input-option > label {
  cursor: pointer;
}