/* General Reset */
:root {
  --primary-color: #007bff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body and HTML */
html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Set a root font size for easier rem calculations */
html {
  font-size: 16px;
}

/* Basic link styling */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Basic image styling */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove default list styles */
ul, ol {
  list-style: none;
}
