.card {
    width: 400px;
    height: 500px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.15);

}

.img-box {
    background-color: rgba(128, 128, 128, 0.15);
    height: 300px;
    padding: 8px;
    border-radius: 8px 8px 0 0;
}

.img-box > img {
    align-self: center;
}

.row > * {
    padding-left: 0 !important;
}

.icon-spec {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.icon-color {
    color: var(--primary-color);
}

.server-link {
    background-color: var(--primary-color);
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    border: 2px solid var(--primary-color);
    text-decoration: none;
}

.server-link:hover {
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    text-decoration: none;
}